<mat-toolbar>
    <span class="example-spacer"></span>
    <mat-icon class="header-icon" mat-list-icon>work</mat-icon>
    <span>₹2000</span>
    <button class="rectangle-599">Recharge Wallet</button>
    <mat-icon class="header-icon" mat-list-icon>phone</mat-icon>
    <mat-icon class="header-icon" mat-list-icon>notifications</mat-icon>
    <mat-icon class="header-icon" mat-list-icon>apps</mat-icon>
    <button class="dropbtn" mat-button [matMenuTriggerFor]="menu">
      <mat-icon class="header-icon" mat-list-icon>person</mat-icon>
      <span style="margin-top: 5px;">{{userData.company_name}}</span>
      <mat-icon class="header-icon" mat-list-icon>expand_more</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
    <button mat-menu-item>{{userData.first_name}}</button>
    <button mat-menu-item>{{userData.mobile}}</button>
    </mat-menu>
</mat-toolbar>