.mat-toolbar{
    background-color: white;
}

.example-spacer {
    flex: 1 1 auto;
  }

.rectangle-599 {
    outline: none;
    border: none;
    margin: 0 16px 0 8px;
    padding: 10px 12px 10px 16px;
    border-radius: 8px;
    background-color: #f9f8fe;
    color: #6149cd;
}
img{
    margin: 0 5px;
}

.dropbtn {
    display: flex;
    background-color: transparent;
    color:darkgray;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
