<mat-drawer-container
  style="height: 100%; position: absolute; top: 0; left: 0; min-width: 6.5rem"
  class="example-container mat-typography"
  autosize
>
  <mat-drawer
    #sidenav
    mode="side"
    class="sidenav"
    [ngStyle]="{ 'width.rem': sidenavWidth }"
    opened="true"
    #drawer
    mode="side"
    disableClose="true"
    opened="true"
  >
    <mat-nav-list>
      <mat-list-item style="color: white">
        <h1 class="sr-title" *ngIf="sidenavWidth > 7">Shiprocket</h1>
        <h1 class="sr-title" *ngIf="!(sidenavWidth > 7)">SR</h1>
      </mat-list-item>
    </mat-nav-list>
    <mat-nav-list *ngIf="showMenu">
      <!-- <ng-container *ngFor="let key of sidemenuKeys">
        <a [href]="sidemenu[key]?.url" (click)="onClickNav($event, key)">
          <mat-list-item class="menu-item">
            <mat-icon mat-list-icon>{{ sidemenu[key]?.icon }}</mat-icon>
            <h4 mat-line *ngIf="sidenavWidth > 7">{{ sidemenu[key]?.text }}</h4>
          </mat-list-item>
        </a>
      </ng-container> -->
      <ng-container *ngFor="let menu of finalData">
        <a [href]="menu.url" style="color: white" (click)="onClickNav($event, menu?.url)">
          <mat-list-item class="menu-item">
            <!-- <mat-icon mat-list-icon>{{ sidemenu[key]?.icon }}</mat-icon> -->
            <h4 mat-line *ngIf="sidenavWidth > 7">{{ menu?.text }}</h4>
            <span style="display: flex;" *ngIf="menu?.submenu && menu?.submenu.length">
              <span style="display: flex;"></span>
              <mat-icon>
                expand_more
              </mat-icon>
            </span>
          </mat-list-item>
        </a>

        <div *ngFor="let sub of menu?.submenu">
          <a *ngIf="sub" [href]="sub?.url" style="color: white" (click)="onClickNav($event, sub?.url)">
            <mat-list-item class="menu-item">
              <!-- <mat-icon mat-list-icon>{{ sidemenu[key]?.icon }}</mat-icon> -->
              <h4 mat-line *ngIf="sidenavWidth > 7">{{ sub?.text }}</h4>
            </mat-list-item>
          </a>
        </div>
        
      </ng-container>
    </mat-nav-list>
  </mat-drawer>
</mat-drawer-container>
