$background: #06064d;
$color1: #6964e2;

// .mat-drawer-inner-container {
//   overflow: hidden;
// }



::ng-deep .sidenav {
  background-color: $background !important;
  padding: 0 2% 2% 1%;
  ::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
  }

  .mat-list-item-content {
    padding: 0 12px 0 12px !important;
  }

  mat-icon {
    color: $color1;
  }

  h4 {
    font-size: 14px !important;
  }

  mat-list-item {
    color: white !important;
    margin-bottom: 10%;
  }

  .menu-item {
    color: white !important;
  }

  .menu-item:hover {
    color: $background !important;
    background-color: white !important;
    border-radius: 10px;
  }

  .mat-list-item.active {
    background-color: white;
    border-radius: 10px;
    color: $background;
  }
}
